<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="h-screen flex item-center justify-center">
    <div class="flex flex-col items-center justify-center">
      <h1 class="text-4xl font-bold">Welcome to the backend</h1>
      <p class="text-xl">This is the backend of the application</p>
      <p class="text-xl">You can access the frontend <a href="/">here</a></p>
      <p class="text-xl">You can access the documentation for this API from <a href="/">here</a></p>
    </div>
  </body>
</html>
